@import './abstract';

button {
	background-color: $gray-500;
	padding: $spacer-tiny-plus;
	border: 0px;
	@include font-size(tiny);

	&:hover {
		background-color: $gray-600;
		color: white;
		cursor: pointer;
	}

	&:active {
		background-color: $gray-800;
		color: white;
	}
}

[data-theme='dark'] button {
	background-color: $gray-600;
	color: black;

	&:hover {
		background-color: $gray-500;
	}

	&:active {
		background-color: $gray-400;
	}
}

select {
	padding: $spacer-tiny-minus;
	@include font-size(tiny);
}

.chordSymbol {
	white-space: nowrap;
}

.configuration_Table {
	border-top: 1px solid $gray-400;
	margin-top: $spacer-small;

	tr {
		border: 0px;
		border-bottom: 1px solid $gray-400;
	}

	td {
		border: 0px;
		padding: $spacer-tiny 0;
	}
}

.chordSymbol-h2 {
	white-space: nowrap;
	@include font-size(h2);
	color: black;
}
[data-theme='dark'] .chordSymbol-h2 {
	color: white;
}

.Json_Details {
	margin-top: $spacer-small;

	summary {
		cursor: pointer;
	}
}

label {
	cursor: pointer;
}

h3 {
	margin-top: $spacer-medium;
}
.configuration_Desc {
	font-style: italic;
	@include font-size(tiny);
}
