body {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    padding: 10px 50px 0;
    line-height: 1.5em;
    text-align: center;
}

.hidden {
    display: none;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.links {
    font-size: 14px;
    margin-top: 16px;
}
.links a {
    text-decoration: none;
}
.links a:hover {
    text-decoration: underline;
}

.input {
    margin-top: 16px;
}

input {
    font-size: 20px;
    font-family: 'Merriweather', serif;
    width: 100%;
    padding: 10px;
    margin-top: 8px;
}

.output {
    margin-top: 32px;
}

[data-output="normalized"] {
    font-size: 36px;
    font-weight: bold;
}

[data-output="normalizedShort"] {
    font-size: 18px;
    color: #666;
    margin-top: 16px;
}

[data-output="json"] {
    font-size: 14px;
    line-height: 1.2em;
}

.output-details {
    margin-top: 32px;
}

.intervals-container {
    margin-top: 32px;
}

.output-json {
    margin-top: 32px;
    text-align: left;
}

.showcase {
    text-align: left;
    font-size: 0.8em;
}
