@import '../../../../scss/abstract';

.ui-UserInput_Container {
}

.ui-UserFeedback_Container {
	text-align: center;
	font-style: italic;
	padding: $spacer-small 0;
	@include font-size(small);
}

.ui-SymbolPreset_Button {
	margin-top: $spacer-small;
	margin-right: $spacer-medium;
}

.ui-SymbolPreset_Button-random {
	color: white;
	background-color: #666666;
}

.ui-SymbolInput_Container {
	margin-top: $spacer-medium;
	padding: $spacer-small;
	background-color: $color-info;
}

.ui-SymbolInput_Container-isValid {
	background-color: $color-success;
}

.ui-SymbolInput_Container-isInvalid {
	background-color: $color-warning;
}

.ui-SymbolInput_Input {
	width: 100%;
	padding: $spacer-small;
	text-align: center;
}
